JWT_SECRET=smcEasyInvest
PORT=3002
NODE_ENV=dev

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=

NSE_LOGIN_USER_ID=admin
NSE_BASE_URL=https://nseinvestuat.nseindia.com
NSE_API_SECRET_USER=
NSE_API_KEY_MEMBER=
NSE_TM_CODE=
NSE_MEMBER_CODE=
NSE_ENCRYPTED_PASSWORD=WHATS_THIS #// optional i feel

AMFI_NAV_URL=https://www.amfiindia.com/spages/NAVAll.txt
AMFI_FETCH_CRON=*/30 * * * *    # every 30 minutes; change as desired
CACHE_KEY_AMFI=amfi:navall
CACHE_TTL_SECONDS=86400   

DIGILOCKER_BASE_URL=
DIGILOCKER_CLIENT_ID=
DIGILOCKER_CLIENT_SECRET=
DIGILOCKER_REDIRECT_URI=

FRONTEND_URL=http://localhost:3001

ENCRYPTION_KEY=
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"

RAZORPAYX_KEY_ID=
RAZORPAYX_KEY_SECRET=
RAZORPAYX_FUND_ACCOUNT_ID=
RAZORPAYX_ACCOUNT_NUMBER=

DIGIO_BASE_URL=https://ext.digio.in
DIGIO_API_KEY=your_api_key_here
DIGIO_CLIENT_ID=your_client_id_here